<div>
    <h2>Daten des neuen Fahrzeugs</h2>
    <ul class='cars'>
        <li>Kennzeichen:
        <input #carlicense_plate />
        </li>
        <li>Fahrzeugtyp:
        <input #cartype />
        </li>
        <li>Kraftstoff:  <br>
        <input #carfuel />
        </li>
        <li>AnzahlSitzplätze:
        <input #carnumber_of_seats/>
        </li > 
    </ul>    
    <button (click)=
        "add(carlicense_plate.value,cartype.value,carfuel.value,carnumber_of_seats.value)">
      hinzufügen
    </button>
    <p><button (click)="goBack()">go back</button></p>
</div>